footer{
    background-color: $very-dark-blue;
    color: white;
    padding: 40px 20px;
    font-size: map-get($fs,"small");
    .text{
        .contact{
            margin: 40px 0;
            li{
                margin-bottom: 10px;
                display: flex;
                align-items: center;
                img{
                    margin-right: 20px;
                }
            }
    
        }
        .first-list , .second-list{
            margin: 40px 0;
            li{
                margin-bottom: 20px;
            }
        }
    
        .social-media{
            display: flex;
            justify-content: center;
            li{
    
                margin-right: 20px;
                border-radius: 50%;
                border: 1px solid #fff;
                padding: 4px 7px;
                cursor: pointer;
                i{  
                    transition: $transition;
                    &:hover{
                        color: $bright-blue;
                    }
                }
            }
            
        }
        @include respond(tablet){
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
        }
    }
    
}