@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap');

html{
    @include respond(large-laptop){
    font-size: calc(16px + 0.4vw);
    }
}

body{
    font-family: 'Open Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6,nav{
    font-family: 'Raleway', sans-serif; 
}











